<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-title size="small">O jogo que mais faz mal e bem pro ser humano.</ion-title> -->

  <h1 class="page-title">Sueca</h1>
  <div *ngIf="startMenuIsActive" class="start-game" >
  <h3 class="page-subtitle">Número de jogadores</h3>
<ion-item class="page-players-number">
    <ion-buttons >
      <ion-menu-button
        autoHide="false"
        (click)="StartGame($event)"
        >10</ion-menu-button
      >
      <ion-menu-button
        autoHide="false"
        (click)="StartGame($event)"
        >5</ion-menu-button
      >
      <ion-menu-button
        autoHide="false"
        (click)="StartGame($event)"
        >3</ion-menu-button
      >

      <div class="game-container">
        <div class="game-info-container">
          <div class="game-info">Time
            <span id="time-remaining">100</span></div>
        </div>

      </div>
    </ion-buttons>
  </ion-item>
</div>


<div *ngIf=!startMenuIsActive class="page-game" >
  <div class="player-text">
    <!-- <h2>{{playerSelected.numberInTheOrder}}</h2> -->
    <h2>Player 1</h2>
  </div>
  <div class="card">

  </div>
</div>



</ion-content>


