.playerNumber{
align-self: center;
padding-top: 1em;
}

.welcome{
padding-left: 30%;
padding-top: 5%;
padding-bottom: 5%;
}

.continue{
    width:40px;
    height: 40px;
padding-left: 8em;
padding-top: 8em;
}