<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="welcome">
    <ion-title size="large" >Sueca</ion-title>
  </ion-toolbar>
  <!-- <ion-title size="small">O jogo que mais faz mal e bem pro ser humano.</ion-title> -->

<ion-item>
  <ion-label >Número de jogadores</ion-label>
  <ion-select [(ngModel)]="number" class="playerNumber">
    <ion-select-option value="1">1</ion-select-option>
    <ion-select-option value="2">2</ion-select-option>
    <ion-select-option value="3">3</ion-select-option>
    <ion-select-option value="4">4</ion-select-option>
    <ion-select-option value="5">5</ion-select-option>
    <ion-select-option value="6">6</ion-select-option>
    <ion-select-option value="7">7</ion-select-option>
    <ion-select-option value="8">8</ion-select-option>
    <ion-select-option value="9">9</ion-select-option>
    <ion-select-option value="10">10</ion-select-option>
  </ion-select>
</ion-item>

  <ion-progress-bar type="indeterminate" color="warning"></ion-progress-bar>
  <ion-buttons class="continue" style="align-content: center;">
    <ion-button fill="clear" (click)="ChooseCard()"> Start <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
  </ion-buttons>
</ion-content>
