<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="welcome">
    <ion-title size="large" style="align-items: center; padding-left: 50%;">Sueca</ion-title>
  </ion-toolbar>
  <!-- <ion-title size="small">O jogo que mais faz mal e bem pro ser humano.</ion-title> -->

  <ion-label style="align-items: center; padding-left: 60%;">Número de jogadores</ion-label>
<ion-item>
    <ion-buttons style="padding-left: 50%;">
      <ion-menu-button style="height: 5em;width: 5em;"  autoHide="false" (click)="StartGame($event)">10</ion-menu-button>
      <ion-menu-button style="height: 5em;width: 5em;" autoHide="false" (click)="StartGame()" >5</ion-menu-button>
      <ion-menu-button style="height: 5em;width: 5em;" autoHide="false" (click)="StartGame()" >3</ion-menu-button>
    </ion-buttons>
    
</ion-item>

