<ion-header>
  <ion-toolbar>
    <ion-title>suecaTutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="../../../../assets/img/ica-slidebox-img-2.png"/>
        <h2>Seja bem-vindo!</h2>
        <p><b>Sueca</b> é um jogo de cartas feito com o intuito de estragar o fígado da galera</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../../../assets/img/ica-slidebox-img-1.png"/>
      <h2>Como jogar?</h2>
      <p>Primeiro você precisa ter algo pra beber</p> 
      <ion-title size="small" style="color: dimgrey;">ps: evite exagerar na dose pra não perder a graça</ion-title>
      <p>Além disso, você vai precisar de amigos para jogar o jogo junto com você.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../../../assets/img/563.png"/>
      <h2>E depois?</h2>
      <p>É só definir o número de jogadores e começar a se divertir!</p>
    </ion-slide>

    <ion-slide>
      <img src="../../../../assets/img/ica-slidebox-img-3.png"/>
      <h2>Tudo pronto pra jogar?</h2>
      <ion-button fill="clear" [routerLink]="['/sueca']">Simmm! <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>